.hidden {
    display: none;
}

main {
    background-color: rgb(192, 209, 216);
    border: 2px solid rgb(28, 100, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green {
    color: green;
    font-weight: bold;
}